<div class="password-strength">
    <h1>Password Strength Checker</h1>
    <input class="password-strength__input" type="password" [(ngModel)]="password" placeholder="Enter your password" (input)="checkPasswordStrength()" >
    <div class="strength-indicator" id="strength-indicator">
      <div class="strength-indicator__section" [style.backgroundColor]="indicatorSectionColor[0]">&nbsp;</div>
      <div class="strength-indicator__section" [style.backgroundColor]="indicatorSectionColor[1]">&nbsp;</div>
      <div class="strength-indicator__section" [style.backgroundColor]="indicatorSectionColor[2]">&nbsp;</div>
    </div>
  </div>