.password-strength {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input {
        width: 301px;
        font-size: 16px;
        line-height: 32px;
        border-radius: 7px;
        border: 1px solid #000;
    }
}

.strength-indicator {
    display: flex;
    gap: 20px;
    margin-top: 25px;

    &__section {
        width: 70px;
        height: 40px;
    }
}