.password {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input {
        width: 301px;
        font-size: 16px;
        line-height: 32px;
        border-radius: 7px;
        border: 1px solid #000;
    }
}